@import "./base.css";
@import "./fonts.css";
@import "./password.css";

.secondary-button {
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  font-size: var(--letter-md);
  font-weight: bold;
  height: 40px;
  background-color: var(--white);
  border: 1px solid var(--hospital-green);
  color: var(--hospital-green);
}

.value {
  font-size: var(--letter-md);
  color: var(--very-light-pink);
}

@media (max-width: 640px) {
  .form_container {
    height: 100%;
  }
  .form {
    height: 100%;
    justify-content: space-between;
  }
}
